<H1 class="heading heading-blue">Forget Password Form</H1>
<form [formGroup]="form" (ngSubmit)="ValidateForm()">
    <div class="form-group">
    <label for="oldPassword"><b>Old Password:</b></label>
    <input class="form-control" name="oldPassword" formControlName="oldPassword" type="password" #oldpass (change)="storePassword(oldpass.value)">
    <div class="alert alert-danger" *ngIf="form.get('oldPassword')?.touched && form.get('oldPassword')?.errors?.['required']">Required</div>
    <div class="alert alert-danger"  *ngIf="form.get('oldPassword')?.touched && form.get('oldPassword')?.errors?.['matched']">Old Password didn't match</div>
    
    <label for="newPassword"><b>New Password:</b></label>
    <input  class="form-control" name="newPassword" formControlName="newPassword" type="password">
    <div class="alert alert-danger" *ngIf="form.get('newPassword')?.touched && form.get('newPassword')?.errors?.['required']">Password min length didn't Match</div>
    <div  class="alert alert-danger" *ngIf="form.get('newPassword')?.touched && form.get('newPassword')?.errors?.['oldPasswordMatched']">New Password can't be same are Old password.  </div>
    
    <label for="confirmPassword"><b>Confrim New Password:</b></label>
    <input class="form-control" name="confirmPassword" formControlName="confirmPassword" type="password">
    <div class="alert alert-danger" *ngIf="form.get('confirmPassword')?.touched  && form.get('confirmPassword')?.errors?.['required']">Required</div>
    <div class="alert alert-danger" *ngIf="form.get('confirmPassword')?.touched && form.errors?.['passwordsDidNotMatch']">Both passwords didn't match</div>
    <button class="btn btn-primary">Submit</button>
    </div>  
</form>