/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
button
{
    padding: 0;
    border: none;
    background: none;
}

.buttonLiked
{
    padding: 0;
    border: none;
    color: deeppink;

}

.buttonNotLiked
{
    padding: 0;
    border: none;
    color: #ccc;

}
