/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

button
{
    border: none;
}
.card-header
{
    border: none;
}
.card
{
    max-height: 200px;
    max-width: 500px;
    width: 500px;

}